<ion-header>
  <ion-toolbar>
    <ion-title>Sobre Nós</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-container flex flex-col justify-center items-center space-y-10">
    <img src="assets/img/profile1.jpg" (click)="openModal(1)" class="profile-img w-1/4 h-1/4 ">
    <img src="assets/img/profile2.png" (click)="openModal(2)" class="profile-img w-1/4 h-1/4 ">
    <img src="assets/img/profile3.png" (click)="openModal(3)" class="profile-img w-1/4 h-1/4 ">
  </div>
</ion-content>
