<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar class="bg-gray-800 text-purple-400">
      <ion-title class="text-lg font-bold">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="bg-gray-900 text-purple-400">
    <ion-list class="text-purple-400 ">
      <!-- Link para "Sobre nós" -->
      <ion-item (click)="navigateTo('sobre')" class="hover:bg-gray-700 transition duration-200">
        <ion-label class="text-base font-medium text-purple-400" color="primary">Sobre nós</ion-label>
      </ion-item>

      <!-- Botão de Logout -->
      <ion-item (click)="logout()" class="hover:bg-red-700 hover:text-purple-400 transition duration-200">
        <ion-label class="text-base font-medium text-purple-400" color="primary">Sair</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="bg-gray-800 text-purple-400">
      <ion-title class="text-lg font-bold text-purple-400">Menu</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button class="text-purple-400 hover:text-purple-500 transition duration-200"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="flex flex-col items-center justify-center h-screen bg-gray-900 text-white">
    <p class="text-lg font-medium mb-4">Tap the button in the toolbar to open the menu.</p>
    <ion-button expand="block" class="bg-purple-600 hover:bg-purple-500 text-purple-400 rounded-lg px-4 py-2 transition duration-200">
      Ação Exemplo
    </ion-button>
  </ion-content>
</div>
